<!-- Popout Card -->
<h1 class="modal-heading">Tew Dew</h1>
<mat-divider></mat-divider>
<div class="list row">
  <div class="list-day col-7">
    <h1>Monday</h1>
    <app-header> </app-header>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="list-day col-7">
    <h1>Tuesday</h1>
    <app-header> </app-header>
  </div>
  <div class="list-day col-7">
    <h1>Wednesday</h1>
    <app-header> </app-header>
  </div>
  <div class="list-day col-7">
    <h1>Thursday</h1>
    <app-header> </app-header>
  </div>
  <div class="list-day col-7">
    <h1>Friday</h1>
    <app-header> </app-header>
  </div>
  <div class="list-day col-7">
    <h1>Saturday</h1>
    <app-header> </app-header>
  </div>
  <div class="list-day col-7">
    <h1>Sunday</h1>
    <app-header> </app-header>
  </div>
</div>
<!-- End Popout Card -->
